parameters:
    level: max
    paths:
        - src
        - tests
    tmpDir: %currentWorkingDirectory%/cache/phpstan
    excludes_analyse:
        - tests/EndToEnd/Project/manuscript-src/resources/
        - tests/EndToEnd/CustomResourceProcessor/manuscript-src/resources/src/Chapter1/Topic1/Version1/Utils/Rector/invalid_code.php
includes:
    - phpstan-baseline.neon
