parameters:
    level: max
    paths:
        - src
        - tests
    tmpDir: %currentWorkingDirectory%/cache/phpstan
    excludes_analyse:
        - tests/EndToEnd/GeneratedResources/manuscript-src
        - tests/EndToEnd/LongLines/manuscript-src
includes:
    - phpstan-baseline.neon
