parameters:
    level: max
    paths:
        - src
        - tests
    tmpDir: %currentWorkingDirectory%/cache/phpstan
    excludes_analyse:
        - tests/EndToEnd/Project/manuscript-src/resources/
includes:
    - phpstan-baseline.neon
