<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
            <exclude>tests/EndToEnd/SubprojectsCi</exclude>
            <exclude>tests/EndToEnd/CustomResourceProcessor/manuscript-src/src/Chapter1/Topic1/Version1/Utils/Rector/ExampleTest.php</exclude>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>shouldFail</group>
        </exclude>
    </groups>
</phpunit>
